In [1]:
%load_ext autoreload

%autoreload 2

binning 
hot_encoding (categorical)
mining

In [20]:
import pandas as pd
pd.set_option('mode.use_inf_as_na', True)
df = pd.read_csv("messy_dataset.csv")

A = df.sample(frac=0.8)
B = df.sample(frac=0.8)

In [4]:
from popdelta.hot_encoder import HotEncoder
import pandas as pd


he = HotEncoder(target=W1_target, string_attributes=W1_string_attributes, num_bins=W1_num_bins)


he.process_batch([A])[0]

,gcs_3,gcs_4,gcs_5,gcs_6,gcs_7,gcs_8,gcs_9,gcs_10,gcs_11,gcs_12,...,"bun_(1.728, 92.66","bun_(183.333, 274.","bun_(92.667, 183.33",bun_nan,bun_nan,heart_failure_0,heart_failure_1,heart_failure_nan,heart_failure_nan,age
11995,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,48.95870
3535,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,100.23661
14450,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,53.46698
25651,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,53.38292
9875,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,81.40255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,38.01601
9438,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,89.41346
8171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,67.79164
12491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,80.70697
17294,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,68.00809

# Non Weighted 1 Population - Pop Delta

In [11]:
from popdelta.pop_delta import PopDelta

# NW1
NW1_target = ""
NW1_num_bins = 3
NW1_string_attributes = []

popDeltaNW1 = PopDelta(target=NW1_target, num_bins=NW1_num_bins, string_attributes=NW1_string_attributes)

k=0
for e in popDeltaNW1.process_batch([A]):
    k +=1
    print("iteration", k)

display(e)

1
2
3
4
5
6
7
8
9

,item1,value1,item2,value2,item3,value3,LEFT Presence (#),LEFT Prevalence (%),Length
itemset,,,,,,,,,
"(magnesium_(0.485, 5.,)",magnesium,"(0.485, 5.",None,None,None,None,15898.0,0.736019,1
"(inr_pt_(-0.0661, 22.03,)",inr_pt,"(-0.0661, 22.03",None,None,None,None,15858.0,0.734167,1
"(basos_(-0.04, 13.33,)",basos,"(-0.04, 13.33",None,None,None,None,15835.0,0.733102,1
"(zeros_0,)",zeros,0,None,None,None,None,15828.0,0.732778,1
"(monos_(-0.062, 20.66,)",monos,"(-0.062, 20.66",None,None,None,None,15818.0,0.732315,1
...,...,...,...,...,...,...,...,...,...
"(basos_(-0.04, 13.33, hct_(28.767, 50.73, monos_(-0.062, 20.66)",basos,"(-0.04, 13.33",hct,"(28.767, 50.73",monos,"(-0.062, 20.66",6913.0,0.320046,3
"(calcium_(8.0, 13., ldh_(-23.111, 7703.66, temperature_(70.333, 105.)",calcium,"(8.0, 13.",ldh,"(-23.111, 7703.66",temperature,"(70.333, 105.",6913.0,0.320046,3
"(calcium_(8.0, 13., ones_1, plates_(2.645, 790.)",calcium,"(8.0, 13.",ones,1,plates,"(2.645, 790.",6913.0,0.320046,3
"(bmi_(-2.578, 525.09, calcium_(8.0, 13., wbc_(-0.578, 226.06)",bmi,"(-2.578, 525.09",calcium,"(8.0, 13.",wbc,"(-0.578, 226.06",6913.0,0.320046,3
"(potassium_(1.588, 5.66, tg_(-1.423, 1143., weight_(-1.301, 99.33)",potassium,"(1.588, 5.66",tg,"(-1.423, 1143.",weight,"(-1.301, 99.33",6913.0,0.320046,3

# Weighted 1 Population - Pop Delta

In [23]:
from popdelta.pop_delta import PopDelta

# W1
W1_target = "age"
W1_num_bins = 3
W1_string_attributes = []

popDeltaW1 = PopDelta(target=W1_target, num_bins=W1_num_bins, string_attributes=W1_string_attributes)

k=0
for e in popDeltaW1.process_batch([A]):
    k +=1
    print("iteration", k)

display(e)

1
2
3
4
5

,item1,value1,item2,value2,item3,value3,LEFT TARGET (#),LEFT Presence (#),LEFT Prevalence (%),LEFT Average TARGET,LEFT TARGET Share (%),Difference with Global Average (Δ),Length
itemset,,,,,,,,,,,,,
"(hct_(27.933, 49.06, indirect_bili_(-1.332, 9.36, mch_(26.5, 37.)",hct,"(27.933, 49.06",indirect_bili,"(-1.332, 9.36",mch,"(26.5, 37.",253314.96592,4403.0,0.278741,57.532357,0.326364,8.394985,3
"(hct_(27.933, 49.06, indirect_bili_(-1.332, 9.36, zeros_0)",hct,"(27.933, 49.06",indirect_bili,"(-1.332, 9.36",zeros,0,274467.57546,4823.0,0.305330,56.908060,0.353616,7.770689,3
"(hct_(27.933, 49.06, mch_(26.5, 37., sodium_(123.333, 148.66)",hct,"(27.933, 49.06",mch,"(26.5, 37.",sodium,"(123.333, 148.66",255598.19657,4501.0,0.284946,56.786980,0.329305,7.649608,3
"(chloride_(83.0, 110., hct_(27.933, 49.06, indirect_bili_(-1.332, 9.36)",chloride,"(83.0, 110.",hct,"(27.933, 49.06",indirect_bili,"(-1.332, 9.36",259779.76760,4576.0,0.289694,56.770054,0.334693,7.632682,3
"(bmi_(-1.394, 130.21, hct_(27.933, 49.06, mch_(26.5, 37.)",bmi,"(-1.394, 130.21",hct,"(27.933, 49.06",mch,"(26.5, 37.",257421.67959,4541.0,0.287478,56.688324,0.331655,7.550952,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(bnp_nan, heart_hypertensive_0, indirect_bili_(-1.332, 9.36)",bnp,nan,heart_hypertensive,0,indirect_bili,"(-1.332, 9.36",0.00000,0.0,0.000000,NaN,0.000000,NaN,3
"(basos_nan, spo2_(66.667, 100., unique_column_(-22.994, 9002.)",basos,nan,spo2,"(66.667, 100.",unique_column,"(-22.994, 9002.",0.00000,0.0,0.000000,NaN,0.000000,NaN,3
"(albumin_(3.733, 5., basos_nan, monos_(-0.062, 20.66)",albumin,"(3.733, 5.",basos,nan,monos,"(-0.062, 20.66",0.00000,0.0,0.000000,NaN,0.000000,NaN,3
"(be_(-20.0, 2., braden_nan, creatinine_nan)",be,"(-20.0, 2.",braden,nan,creatinine,nan,0.00000,0.0,0.000000,NaN,0.000000,NaN,3
"(basos_nan, eos_(-0.04, 13.33, infectious_0)",basos,nan,eos,"(-0.04, 13.33",infectious,0,0.00000,0.0,0.000000,NaN,0.000000,NaN,3

14962     0.00000
24757     0.00571
16530    67.54706
14569    41.99494
23223    60.77976
           ...
18712         NaN
4986      0.00000
21665    76.10086
19284    60.93165
5808          NaN
Name: age, Length: 21600, dtype: float64

# Non Weighted 2 Population - Pop Delta

In [26]:
from popdelta.pop_delta import PopDelta

# NW2
NW2_target = ""
NW2_num_bins = 3
NW2_string_attributes = []

popDeltaNW2 = PopDelta(target=NW2_target, num_bins=NW2_num_bins, string_attributes=NW2_string_attributes)

k=0
for e in popDeltaNW2.process_batch([A, B]):
    k +=1
    print("iteration", k)

display(e)

1
2
3
4
5
6
7
8
9

,item1,value1,item2,value2,item3,value3,LEFT Presence (#),RIGHT Presence (#),Presence Difference (Δ),Presence Ratio LEFT/RIGHT,Presence Ratio RIGHT/LEFT,LEFT Prevalence (%),RIGHT Prevalence (%),Prevalence Difference (Δ),Prevalence Ratio LEFT/RIGHT,Prevalence Ratio RIGHT/LEFT,Risk Ratio LEFT over RIGHT,Risk Ratio RIGHT over LEFT,Length
itemset,,,,,,,,,,,,,,,,,,,
"(be_(-19.0, 4., eos_(-0.04, 13.33, ptt_(15.853, 64.86)",be,"(-19.0, 4.",eos,"(-0.04, 13.33",ptt,"(15.853, 64.86",7455.0,7299.0,156.0,1.021373,0.979074,0.345139,0.337917,0.007222,1.021373,0.979074,1.016146,0.984030,3
"(bun_(1.728, 92.66, mcv_(87.667, 117.33)",bun,"(1.728, 92.66",mcv,"(87.667, 117.33",None,None,8028.0,7878.0,150.0,1.019040,0.981315,0.371667,0.364722,0.006944,1.019040,0.981315,1.015009,0.985155,2
"(calcium_(8.0, 13., eos_(-0.04, 13.33, inr_pt_(-0.0694, 23.13)",calcium,"(8.0, 13.",eos,"(-0.04, 13.33",inr_pt,"(-0.0694, 23.13",6965.0,6828.0,137.0,1.020064,0.980330,0.322454,0.316111,0.006343,1.020064,0.980330,1.014660,0.985476,3
"(eos_(-0.04, 13.33, pt_(9.66, 56.53, sofa_(-0.024, 8.)",eos,"(-0.04, 13.33",pt,"(9.66, 56.53",sofa,"(-0.024, 8.",6928.0,6795.0,133.0,1.019573,0.980803,0.320741,0.314583,0.006157,1.019573,0.980803,1.014268,0.985860,3
"(eos_(-0.04, 13.33, mcv_(87.667, 117.33)",eos,"(-0.04, 13.33",mcv,"(87.667, 117.33",None,None,8054.0,7913.0,141.0,1.017819,0.982493,0.372870,0.366343,0.006528,1.017819,0.982493,1.014081,0.986064,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(cpkmb_(-192.025, 65680., glucose_(6.559, 488.33, tropt_(-0.025, 8.33)",cpkmb,"(-192.025, 65680.",glucose,"(6.559, 488.33",tropt,"(-0.025, 8.33",8227.0,8346.0,-119.0,0.985742,1.014465,0.380880,0.386389,-0.005509,0.985742,1.014465,0.988402,1.011702,3
"(direct_bili_(-0.045, 15., tropt_(-0.025, 8.33, zeros_0)",direct_bili,"(-0.045, 15.",tropt,"(-0.025, 8.33",zeros,0,8309.0,8432.0,-123.0,0.985413,1.014803,0.384676,0.390370,-0.005694,0.985413,1.014803,0.988060,1.012052,3
"(cpkmb_(-192.025, 65680., neurologic_0, tropt_(-0.025, 8.33)",cpkmb,"(-192.025, 65680.",neurologic,0,tropt,"(-0.025, 8.33",6879.0,6995.0,-116.0,0.983417,1.016863,0.318472,0.323843,-0.005370,0.983417,1.016863,0.987732,1.012365,3
"(cpkmb_(-192.025, 65680., temperature_(70.333, 105., tropt_(-0.025, 8.33)",cpkmb,"(-192.025, 65680.",temperature,"(70.333, 105.",tropt,"(-0.025, 8.33",8356.0,8488.0,-132.0,0.984449,1.015797,0.386852,0.392963,-0.006111,0.984449,1.015797,0.987219,1.012910,3
"(cpkmb_(-192.025, 65680., potassium_(1.588, 5.66, tropt_(-0.025, 8.33)",cpkmb,"(-192.025, 65680.",potassium,"(1.588, 5.66",tropt,"(-0.025, 8.33",7762.0,7895.0,-133.0,0.983154,1.017135,0.359352,0.365509,-0.006157,0.983154,1.017135,0.986741,1.013388,3

# Weighted 2 Populations - Pop Delta

In [27]:
from popdelta.pop_delta import PopDelta

# W2
W2_target = "age"
W2_num_bins = 3
W2_string_attributes = []

popDeltaW2 = PopDelta(target=W2_target, num_bins=W2_num_bins, string_attributes=W2_string_attributes)

k=0
for e in popDeltaW2.process_batch([A, B]):
    k +=1
    print("iteration", k)

display(e)

1
2
3
4
5

,item1,value1,item2,value2,item3,value3,LEFT TARGET (#),LEFT Presence (#),RIGHT TARGET (#),RIGHT Presence (#),...,Average Ratio LEFT/RIGHT,Average Ratio RIGHT/LEFT,LEFT TARGET Share (%),RIGHT TARGET Share (%),TARGET Share Difference (Δ),Share Ratio LEFT/RIGHT,Share Ratio RIGHT/LEFT,Risk Ratio LEFT over RIGHT,Risk Ratio RIGHT over LEFT,Length
itemset,,,,,,,,,,,,,,,,,,,,,
"(hct_(27.933, 49.06, lymphs_(66.667, 100., pulmonary_0)",hct,"(27.933, 49.06",lymphs,"(66.667, 100.",pulmonary,0,0.33028,113.0,-0.00007,56.0,...,-2.338265e+03,-4.276674e-04,3.126164e-07,-1.422513e-10,3.127586e-07,-2.197634e+03,-4.550348e-04,1.466080,-6.671175e-04,3
"(indirect_bili_(-1.332, 9.36, lymphs_(66.667, 100., marital_Unkno)",indirect_bili,"(-1.332, 9.36",lymphs,"(66.667, 100.",marital,Unkno,0.43027,210.0,-0.00009,103.0,...,-2.344858e+03,-4.264651e-04,4.072588e-07,-1.828946e-10,4.074417e-07,-2.226741e+03,-4.490868e-04,1.466076,-6.583953e-04,3
"(Unnamed: 0_(-24.997, 9001., digestive_0, lymphs_(66.667, 100.)",Unnamed: 0,"(-24.997, 9001.",digestive,0,lymphs,"(66.667, 100.",338.71218,112.0,0.00271,55.0,...,6.137708e+04,1.629273e-05,3.205976e-04,5.507159e-09,3.205921e-04,5.821470e+04,1.717779e-05,1.465907,2.517298e-05,3
"(digestive_0, lymphs_(66.667, 100., unique_column_(-24.997, 9001.)",digestive,0,lymphs,"(66.667, 100.",unique_column,"(-24.997, 9001.",338.59522,78.0,0.00271,37.0,...,5.926778e+04,1.687257e-05,3.204869e-04,5.507159e-09,3.204814e-04,5.819460e+04,1.718373e-05,1.465907,2.518167e-05,3
"(Unnamed: 0_(-24.997, 9001., blood_0, lymphs_(66.667, 100.)",Unnamed: 0,"(-24.997, 9001.",blood,0,lymphs,"(66.667, 100.",221.56652,124.0,-0.00007,58.0,...,-1.480514e+06,-6.754413e-07,2.097170e-04,-1.422513e-10,2.097171e-04,-1.474271e+06,-6.783015e-07,1.465868,-9.940918e-07,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(unique_column_(-24.997, 9001., wbc_nan, zeros_0)",unique_column,"(-24.997, 9001.",wbc,nan,zeros,0,0.00000,0.0,0.00000,0.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,3
"(wbc_nan,)",wbc,nan,None,None,None,None,0.00000,0.0,0.00000,0.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,1
"(wbc_nan, weight_(-1.301, 99.33)",wbc,nan,weight,"(-1.301, 99.33",None,None,0.00000,0.0,0.00000,0.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,2
"(wbc_nan, weight_(-1.301, 99.33, zeros_0)",wbc,nan,weight,"(-1.301, 99.33",zeros,0,0.00000,0.0,0.00000,0.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,3
"(wbc_nan, zeros_0)",wbc,nan,zeros,0,None,None,0.00000,0.0,0.00000,0.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,2